.Sidebar {
  padding: 16px;

  background-color: var(--background-dark);

  .Image {
    width: 48px;
    height: 48px;

    border-radius: 50%;

    background: black;
    color: limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    transition: border-radius 0.3s;

    &:hover {
      border-radius: 30%;
    }
  }

  .Container {
    position: relative;

    width: 48px;
    height: 48px;

    &::after {
      content: '';
      position: absolute;
      left: -1px;
      top: 50%;
      transform: translate(-16px, -50%);
      width: 0px;
      height: 0px;
      border-radius: 0 4px 4px 0;
      background-color: white;
      transition: width 0.3s, height 0.3s, left 0.3s;
    }

    &:hover::after {
      left: 0;
      width: 4px;
      height: 24px;
    }

    &.Active::after {
      left: 0;
      width: 4px;
      height: 32px;
    }
  }

  .Divider {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background-color: gray;
    margin: 0 auto;
  }
}
