.Container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.Button {
  width: 320px;

  &.Login {
    display: flex;
    gap: 16px;
    padding: 16px;
    font-size: 24px;
  }

  &.Back {
    position: relative;

    .Icon {
      position: absolute;
      top: 50%;
      left: 32px;
      transform: translateY(-50%);

      transition: left 0.3s;
    }

    &:hover {
      .Icon {
        left: 16px;
      }
    }
  }
}
